@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100%;
    background-color:#0d0d0d;
    padding-top: 55px;
}

header {
    display: flex;
    height: 55px;
    padding-inline: 2vh;
    background-color: #181818d3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;}

    header > div > img {
    height: 26px;
    width: 26px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
    background-color: #3b3b3b;}

    &:active {
    background-color: #575656;
    border-color: #8d8d8d;}
}
    
header div.left {
    display: flex;
    align-items: center;} 
    
    .icon-ytb{
        margin-left: 5%;
        height: 22px;
        width: 100px;
        padding-top: 4px;
}

header div.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;}

    .search-input{
        max-width: 460px;
        width: 100%;
        height: 38px;
        border: 1px solid #2a2a2a;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        background-color: #0f0f0f;
        color: #aaaaaa;
        font-size: medium;
        padding-left: 20px;
        outline: none;

        &:focus{
            border-color: #1C62B9;
        }
    }
    
    .search-btn {
        background-color: #2a2a2a;
        height: 40px;
        width: 60px;
        border: 1px solid #383838;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        padding-top: 7px;
        padding-left: 5px;
        cursor: pointer;

        &:hover {
        background-color: #3b3b3b;}

        &:active {
        transform: scale(0.96);}
    }
    
    .mic-btn{
        width: 40px;
        height: 40px;
        background-color:#2a2a2a;
        border: 1px solid #383838;
        border-radius: 50px;
        margin-left: 15px;
        padding-top: 5px;
        cursor: pointer;

        &:hover {
        background-color: #3b3b3b;}

        &:active {
        transform: scale(0.96);
    }
}
    
header div.right {
    display: flex;
    align-items: center;}

    .user-foto {
    width:34px;
    height: 34px;
    
    &:hover{
        background-color: transparent;
    } &:active {
        background-color: transparent;
        border-color: transparent;
        transform: scale(0.95);
    }
}

#sideMenu {
    height: 100%;
    width: 190px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color:#0D0D0D;
    justify-content: space-around;
    gap: 10px;
    transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
    }
    
    #sideMenu.hidden {
        opacity: 0;
        visibility: hidden;
        width: 0;
        overflow: hidden;
    }
    
    #sideMenu > div > img {
        width: 28px;
        height: 28px;
    }
    
    #sideMenu > div > label {
        cursor: pointer;
    }
    
    .navs {
        display: flex;
        align-items: center;
        padding: 5px 12px;
        gap: 15px;
        border-radius: 8px;
        color: #ffffff;
        font-family: Inter;
        font-size: 0.9rem;
        font-style: normal;
        border: 1px solid transparent;
        
        &:hover {
            background-color: #2e2e2e;
            cursor: pointer;
        } &:active {
            border: 1px solid #646464;
            background-color: #2e2e2e;
        }
    }

    .banner{
        width: 100%;
        max-height: 200px;
        background-image: url(../assets/images/banner-canal.png);
        object-fit: cover;
        background-position: center;
        aspect-ratio: 16/9;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .banner img {
        margin-right: 15px;
        margin-bottom: 5px;
    }
    
    main {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 100%;
        margin-top: 10px;
        margin-inline: auto;
    }
    
main > div > img {
    margin-right: 18px;
}

.infos-canal{
    display: flex;
    align-items: center;
    height: 148px;
    margin: 8px 0px 5px 0px;
}

.foto-do-canal{
    height: 128px;
    width: 128px;
}

.infos-canal div {
    display: flex;
    flex-direction: column;
}

.infos-canal h1{
    color:#ffffff;
    font-family: Roboto;
    font-size: 30.375px;
    font-style: normal;
    font-weight: 500;
}

.infos-canal label {
    color:#888888;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subscribe {
    background-color: #F1F1F1;
    margin-left: auto;
    margin-right: 10px;
    padding: 11px 15px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-family: Roboto;
    border:none;
    outline:none;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.1s ease;

    &:hover {
        cursor: pointer;
        background-color: #d8d8d8;
    } &:active {
        transform: scale(0.90);
    }
}

.subscribe.subscribed {
    background-color: #272727;
    cursor: pointer;
    color: white;
    padding: 11px 30px;
    

    &:hover {
        background-color: #3F3F3F;
    } &:active {
        transform: scale(0.90);
    }
}

#member {
    min-width: 120.92px;
    background-color: transparent;
    color:#fff;
    margin-left: flex-end;
    padding: 11px 15px;
    border: 1px solid #3F3F3F;
    border-radius: 50px;
    font-family: Roboto;
    outline:none;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.1s ease;

    &:hover{
        background-color: #3F3F3F;
        cursor: pointer;
    } &:active {
        transform: scale(0.90);
    }
}

.fieldset {
    display: flex;
    align-items: center;
    border: none;
    margin-top: 5px;
    gap: 25px;
    overflow-x: auto;
}

.fieldset::-webkit-scrollbar {
    height: 4px;
}

.item {

    color: #AAAAAA;
    font-size: 1.1em;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding-bottom: 8px;
    border: 2px solid transparent;
    margin: 0px;

    &:hover {
        border-bottom: 2px solid #717171;
    }
}
.item.selected {
    color: #F1F1F1;
    border-bottom: 2px solid #ffffff;
}

section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 90%;
}

section > img {
    width: 210px;
    height: 118px;
    border-radius: 8px;
    cursor: pointer;
}

section div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 118px;
}

section div > h1 {
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    margin-bottom: 5px;
    width: 260px ;
}

section div > h2 {
    cursor: pointer;
    width: 170px;
    font-family: Roboto;
    color: #8f8f8f;
    font-size:12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section div p {
    text-align: justify;
    height: 60px;
    color: #efefef;
    font-family: Roboto;
    font-size: 14px;
    font-style:normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    margin-top: 15px;
    overflow: hidden;
}

section div p::-webkit-scrollbar {
    width: 2px;
}

span {
    height: 100%;
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
}

span h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    margin: 0;
    text-align: start;
}

.titulo-sessao {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-sessao h1 {
    margin-inline-end: auto;
}

.titulo-sessao div {
    display: flex;
    gap: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}

.titulo-sessao div:hover {
    border-bottom: 2px solid #696969;
}

.titulo-sessao div:active {
    border-bottom: 2px solid #ffffff;
}

.titulo-sessao div h4:active {
    color: white;
}

span div h4 {
    color:#9a9a9a;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.container-videos {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 10px;
    justify-content: space-between;
}

.bloco-video {
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

.bloco-video h1 {
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size: 17.5px;
    color:#fff;
    margin: 0;
}

.bloco-video h2 {
    color: #9a9a9a;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /*23.98px*/
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.bloco-video > img {
    width: 210px;
    height: 118px;
    border-radius: 8px;
    margin-bottom: 16px;
}

footer {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #202020;
    color: white;
    height: 25px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
    word-spacing: 2px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 35s linear infinite;
    position: absolute;
    right: 0;
}

.marquee div {
    display: inline;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .banner {
        background-image: url(../assets/images/banner-canal-P.png);
    }

    #sideMenu{
        width: 80px;
        margin-inline: 1vh;
    }
    .navs {
        display: flex;
        flex-direction: column;
        padding-inline: 0;
        gap: 5px
    }

    #sideMenu > div > label {
        font-size: 0.7em;
    }

}

@media (max-width: 657px) { 

    main {
        width: 85%;
    }

    .infos-canal {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #subscribeButton {
        width: 40%;
        margin-inline: auto;
        margin-top: 15px;
    }

    #member{
        width: 40%;
        margin-inline: auto;
        margin-top: 10px;
    }

    .infos-canal > img {
        margin: 0px 0px 10px 0px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    section div {
        width: 100%;
    }

    section img {
        margin-bottom: 10px;
    }

    section div p {
        overflow: auto;
    }

    header > div.search-container{
        display: flex;
        justify-content: flex-end;}

        #searchBar {
            width: 0;
            opacity: 0;
            transition: all 0.5s ease;}

            #searchBar.active {
                opacity: 1;
                width: 200px;}
        
        .search-btn {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: transparent;
            border-radius: 50px;
        }

        .close-btn {
            padding: 2% 3px;
            margin-top: 1px;
            background-color: #0F0F0F;
            border: 1px solid #2a2a2a;
            border-top-right-radius: 45px;
            border-bottom-right-radius: 45px;
            cursor: pointer;

            &:hover {
                background-color: #3B3B3B;
            }
        }

        .mic-btn {
            background-color: transparent;
            border: transparent;
            margin: 0;
        }
}